footer {
    display: flex;
    height: 70px;
    background-color:black;
    color: white;
    position: absolute;
    margin-top: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
